.schedule-near-route-info {

}
.schedule-near-container {

}
.schedule-near-train-list {
    list-style: none;
    padding: 0;
}
.schedule-near-train-item {

}
.schedule-near-train-time {

}
.schedule-near-departure {

}
.schedule-near-arrival {

}
.schedule-near-train-info {

}
.schedule-near-train-number {

}
.schedule-near-train-title {

}
.schedule-near-train-duration {

}
.schedule-near-no-train {

}

.loading {
    color: white;
    background: #474a51;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #474a51;
    border-radius: 40%;
    padding: 0 20vw;
  }
  
  .loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, 
      transparent 0%, 
      rgba(255, 255, 240, 0.5) 50%, 
      transparent 100%
    );
    animation: loading 1.5s infinite ease-in-out;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }