@font-face {
  font-family: 'PT Sants';
  src: url('./assets/fonts/Raleway-Regular.ttf');
}
* {  
  margin: 0;
  font-family: 'PT Sans';
  color: #474a51;
  background-color: #fffff0;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
